@using Models.ViewModels
@model SIMNetworkEditModel
@{
    ViewData["Title"] = "Chỉnh sửa nhà mạng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Cập nhật nhà mạng</h1>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="form-group col-md-6">
                    <label class="form-label required">Tên loại SIM</label>
                    <input type="text" class="form-control" placeholder="Tên loại SIM" asp-for="NetworkName">
                    @Html.HiddenFor(model =>model.Id)
                </div>

                @*                <div class="form-group col-md-6">
                <label class="form-label">Ảnh đại diện</label>
                <div class="input-group mb-3">
                <input type="file" class="form-control" placeholder="Ảnh đại diện" asp-for="NetworkImgUrl">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>
                </div>*@
                <div class="form-group col-md-6">
                    <label class="form-label required">Đường dẫn</label>
                    <input type="text" class="form-control" placeholder="Đường dẫn" asp-for="HtmlId">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label required">Đầu số</label>
                    <input type="text" class="form-control" placeholder="Đầu số" asp-for="PrefixNumber">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label required">Mô tả</label>
                    <textarea class="form-control" rows="2" placeholder="Mô tả" asp-for="Description"></textarea>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary m-3 btn-default" asp-action="Edit" asp-controller="SIMNetwork" width="100px">Cập nhật</button>
                <button type="submit" class="btn btn-secondary m-3 btn-default" asp-action="Index" asp-controller="SIMNetwork" width="100px">Trở về</button>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#SIMCollapse').removeClass("collapsed");
        $('#sim').addClass("show");
        $('#SIMNetwork').addClass("active");
    });
</script>