@using Models.ViewModels
@model AuctionModel
@{
    ViewData["Title"] = "Sửa phiên đấu giá";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sửa phiên đấu giá</h1>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form method="post">
                @Html.HiddenFor(x=>x.Id)
                <div class="form-group col-md-3">
                    <label class="form-label required">Tên phiên đấu giá</label>
                    <input type="text" class="form-control" placeholder="" asp-for="Name">
                </div>
                <div class="col-md-6 row">
                    <div class="form-group col-md-6">
                        <label class="form-label required">Thời gian bắt đầu</label>
                        <input type="date" class="form-control" placeholder="" asp-for="StartTime">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label required">Thời gian kết thúc</label>
                        <input type="date" class="form-control" placeholder="" asp-for="EndTime">
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="form-group col-md-6">
                        <label class="form-label required">Sim đấu giá</label>
                        <input type="text" class="form-control" placeholder="" asp-for="SimNumber">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label required">Giá khởi điểm</label>
                        <input type="number" class="form-control" placeholder="" asp-for="AuctionPrice">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-label">Ghi chú</label>
                    <textarea class="form-control" rows="2" placeholder="" asp-for="Note"></textarea>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary m-3 btn-default" asp-action="Edit" asp-controller="Auction" width="100px">Cập nhật</button>
                <button type="submit" class="btn btn-secondary m-3 btn-default" asp-action="Index" asp-controller="Auction" width="100px">Trở về</button>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#AppManagerCollapse').removeClass("collapsed");
        $('#appManager').addClass("show");
        $('#auction').addClass("active");
    });
</script>