@using Models.ViewModels
@model NotificationModel
@{
    ViewData["Title"] = "Sửa thông báo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sửa thông báo</h1>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form method="post">
                @Html.HiddenFor(x=>x.Id)
                <div class="form-group col-md-6">
                    <label class="form-label required">Tiêu đề</label>
                    <input type="text" class="form-control" placeholder="" asp-for="Title">
                    <input type="hidden" asp-for="CollaboratorsGroupId"/>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-label">Nội dung</label>
                    <textarea class="form-control" rows="5" placeholder="" asp-for="Content"></textarea>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary m-3 btn-default" asp-action="Edit" asp-controller="Notification" width="100px">Cập nhật</button>
                <button type="submit" class="btn btn-secondary m-3 btn-default" asp-action="Index" asp-controller="Notification" width="100px">Trở về</button>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#AppManagerCollapse').removeClass("collapsed");
        $('#appManager').addClass("show");
        $('#notifications').addClass("active");
    });
</script>