@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="block-head">Liên hệ</div>
</div>
<div class="block-body col-12 p-3">
    <p><span style="font-size:14px;"><font color="#ff0000"><b><strong><strong><strong><strong><strong><strong><strong><strong>✅</strong></strong></strong></strong></strong></strong></strong></strong>Shop: Simhathanh<strong><strong><strong><strong><strong><strong><strong><strong>✅</strong></strong></strong></strong></strong></strong></strong></strong></b></font><br><span style="color:#008000;"><b><span style="font-size:14px;"><font color="#ff0000"><b><strong><strong><strong><strong><strong><strong><strong><strong>✅</strong></strong></strong></strong></strong></strong></strong></strong></b></font></span>Trung Tâm Mua Bán&nbsp;Sim Số Đẹp&nbsp;Các Mạng. Uy Tín Chuyên Nghiệp Hàng Đầu VN. GIao Dịch Toàn Quốc<br><span style="font-size:14px;"><font color="#ff0000"><b><strong><strong><strong><strong><strong><strong><strong><strong>✅</strong></strong></strong></strong></strong></strong></strong></strong></b></font></span>Giao Dịch Trực Tiếp Mọi Giao Dịch</b></span><br><span style="color:#008000;"><strong><span style="font-size:14px;"><font color="#ff0000"><b><strong><strong><strong><strong><strong><strong><strong><strong>✅</strong></strong></strong></strong></strong></strong></strong></strong></b></font></span>Được Kiểm Tra Sim Số Mình Mua, Trước Khi Thanh Toán Tiền</strong></span><br><span style="color:#008000;"><strong><span style="font-size:14px;"><font color="#ff0000"><b><strong><strong><strong><strong><strong><strong><strong><strong>✅</strong></strong></strong></strong></strong></strong></strong></strong></b></font></span>Hotline: 0911.92.9999 &amp; 0912.553.553 &amp; 082.55.99999<br><span style="font-size:14px;"><font color="#ff0000"><b><strong><strong><strong><strong><strong><strong><strong><strong>✅</strong></strong></strong></strong></strong></strong></strong></strong></b></font></span>Mail: hinhhathanh@gmail.com</strong></span></span></p>
    <p>
        <span style="font-size:14px;">
            Địa chỉ:<br><span style="font-family:arial,helvetica,sans-serif;"></span><strong>VP</strong>&nbsp;286 Nguyễn&nbsp;Xiển&nbsp;- Tân Triều&nbsp;- Thanh Trì&nbsp;- Hà&nbsp;Nội<span style="color:#FF0000;"></span>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.2241539548418!2d105.80582367597614!3d20.983649989325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acebc97cccbb%3A0xe11f1775d7d880b5!2zMjg2IMSQLiBOZ3V54buFbiBYaeG7g24sIFTDom4gVHJp4buBdSwgVGhhbmggWHXDom4sIEjDoCBO4buZaSAxMDAwMDAsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1717121937648!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br><br><br>
            <span style="color:#008000;">Cửa hàng còn nhiều VP&nbsp;và cộng tác viên trên toàn quốc. Nên&nbsp;mọi giao dịch, đều được simhathanh&nbsp;(Miễn phí) trong 2 -4h đồng hồ, sau khi quý khách đặt mua thành công. Tất cả các mạng Viettel, <a href="http://simhathanh.vn/">Vinaphone</a>, mobifone, vietnamobile<br>Trân trọng cảm ơn!</span><span style="color:#FF0000;"></span>
        </span><br><span style="font-size:12px;"><span style="color:#FF0000;"><strong><span style="color:#FF0000;"><strong>Đặc biệt: Qúy khách được kiểm tra sim và thông tin&nbsp;trước khi thanh toán</strong></span></strong></span></span>
    </p>
    <p style="text-align:center"><span style="color:#FF0000"><strong></strong></span></p>
    <!-- Global site tag (gtag.js) - AdWords: 811844535 --><script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-811844535"></script><script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-811844535');</script><!-- Global site tag (gtag.js) - Google Analytics --><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-139546476-1"></script><script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-139546476-1');</script><!-- Global site tag (gtag.js) - Google Ads: 983555604 --><script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-983555604"></script><script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-983555604');</script><!-- Facebook Pixel Code --><script>!function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '2290711427818869'); fbq('track', 'PageView');</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2290711427818869&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

</div>

<script>
    window.onload = function () {
        var itemNav = document.getElementById("lien-he");
        itemNav.classList.add("active");
    };
</script>