@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="block-head">Hướng dẫn đặt mua sim</div>
</div>
<div class="block-body col-12 p-3">
    <h1 class="post-detail-title">Hướng dẫn mua hàng</h1>
    <p style="margin-left: 10px; text-align: center;">Trước tiên xin cảm ơn quý khách đã chọn <a href="https://simhathanh.vn">mua sim số đẹp</a><a href="http://Simhathanh.vn"> </a>tại ưebsite. <strong><em>Simhathanh.vn</em></strong>&nbsp;của chúng tôi.<br>Do kho số nhập về lớn nên chúng tôi trải đều ở các đại lý tại Hà Nội và Hồ Chí Minh , để thuận tiện cho việc mua sim và thanh toán, quý khách xin lưu ý :</p>
    <p style="margin-left:10px">&nbsp;<strong>1. <u>Áp dụng cho Quý khách hàng ở Thành Phố Hồ Chí Minh</u>&nbsp;:</strong></p>
    <p style="margin-left:30px">a. Quý khách vui lòng cung cấp thông tin chính xác về địa chỉ của mình , chúng tôi sẽ cho nhân viên giao sim tận nơi và thu tiền .</p>
    <p style="margin-left:30px">b. Trong trường hợp quý khách ở Hà Nội nhưng simcard lại đang ở cửa hàng tại Hồ Chí Minh ( và ngược lại ) :</p>
    <p style="margin-left:40px">+ Quý khách vui lòng đến chi nhánh của chúng tôi ở Hà Nội để làm thủ tục đăng ký, <strong>đặt tiền trước</strong>(*) . Khi chi nhánh Hà Nội nhận được tiền sẽ thông báo , và chúng tôi gửi sim ra ngay cho quý khách . Quý khách sẽ nhận được sim trong ngày hôm sau ( Sau 24h kể từ khi đặt trước ) .</p>
    <p style="margin-left:40px">+ Quý khách có thể chuyển khoản trực tiếp vào các tài khoản của chúng tôi một khoản tiền đặt trước (*) , chúng tôi sẽ gửi sim ra chi nhánh chúng tôi ở Hà Nội và quý khách qua lấy sim , thanh toán phần còn lại .</p>
    <p style="margin-left:40px">+ Quý khách có thể chuyển khoản thanh toán toàn bộ tiền sim , chúng tôi sẽ gửi sim qua công ty chuyển phát nhanh EMS hoặc Tín Thành đến tận nhà cho quý khách .</p>
    <table border="0" cellpadding="0" cellspacing="0" id="table1" style="width:100%">
        <tbody>
            <tr>
                <td>
                    <p style="margin-left:10px"><strong>2. <u>Quý khách ở các tỉnh thành khác</u> :</strong></p>
                    <p style="margin-left:30px">a. Quý khách có thể nhờ người thân tại Hà Nội hoặc Hồ Chí Minh để giao dịch trực tiếp với chi nhánh của chúng tôi theo cách trên</p>
                    <p style="margin-left:30px">b. Quý khách có thể chuyển khoản thanh toán toàn bộ tiền sim , chúng tôi sẽ gửi sim qua công ty chuyển phát nhanh EMS hoặc Tín Thành đến tận nhà cho quý khách sau 24h - 48h kể từ khi khách hàng chuyển khoản xong .</p>
                    <p style="margin-left:30px">c. Quý khách có thể đặt cọc (*) trước và chúng tôi sẽ gửi sim qua <strong>dịch vụ COD (**)</strong> của bưu điện ( Chỉ áp dụng cho sim từ 2 triệu trở lên ) .</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left:30px">Quý khách cần thêm thông tin xin vui lòng gọi tới số <strong>holine 0911.92.9999 (Hỗ trợ 24/24). </strong></p>
    <p style="margin-left:30px">Xin chân thành cảm ơn Quý khách hàng!</p>
    <p style="margin-left:30px">(**) : COD - Dịch vụ thu tiền hộ của bưu điện . Theo đó nhân viên bưu điện sẽ phát sim đến tận tay khách hàng và thu tiền hộ chúng tôi, hoặc sẽ có nhân viên giao dịch trực tiếp và đăng ký sim quý khách tại nhà..</p>

</div><!-- End sidebar search formn-->

<script>
    window.onload = function () {
        var itemNav = document.getElementById("thanh-toan");
        itemNav.classList.add("active");
    };
</script>