@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Models.ViewModels.ChangePasswordRequest

<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Hồ sơ người dùng</h1>

    <div class="row">
        <div class="col-md-3 col-xl-2">

            <div class="card">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" role="tab" asp-action="Profile" asp-controller="User">
                        Thông tin tài khoản
                    </a>
                    <a class="list-group-item list-group-item-action active" asp-action="ChangePassword" asp-controller="User">
                        Mật khẩu
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-xl-10">
            <div class="tab-content">

                <div class="tab-pane fade show active" id="password" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Đổi mật khẩu</h5>
                            <form method="post">
                                <div class="form-group">
                                    <label for="inputPasswordCurrent">Mật khẩu hiện tại</label>
                                    <input type="password" class="form-control" asp-for="current_user_pass">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">Mật khẩu mới</label>
                                    <input type="password" class="form-control" asp-for="new_user_pass">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew2">Xác nhận mật khẩu mới</label>
                                    <input type="password" class="form-control" asp-for="confirm_user_pass">
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <button asp-action="ChangePassword" asp-controller="User" type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
            window.location.href = '@Url.Action("Logout","Admin")';
        };
    </script>
}
