@{
    ViewData["Title"] = "Báo cáo Tiền tồn trong ngân hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Nhật kí hệ thống</h1>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card p-3">
                <div class="form-group col-12 row">
                    <div class="col-3">
                        <label class="form-label">Tìm kiếm</label>
                        <input id="keyword" type="text" class="form-control">
                    </div>
                    <div class="col-3">
                        <label class="form-label">Từ ngày</label>
                        <div class="col-12 p-0">
                            <input id="startDate" type="date" class="form-control" placeholder="Nhập ngày bắt đầu" />
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="form-label">Đến ngày</label>
                        <div class="col-12 p-0">
                            <input id="endDate" type="date" class="form-control" placeholder="Nhập ngày kết thúc" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 row">
                    <div class="col-4">
                        <button class="btn btn-primary" onclick="filterReport(1)">Tìm kiếm</button>
                        <button class="btn btn-warning mx-3" onclick="exportReport()">Xuất Excel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body px-3" style="overflow: auto;">
            <table id="myTable" class="table table-bordered table-striped" style="min-width:2000px;">
                <thead>
                    <tr>
                        <th style="width:8%">Ngày phát sinh</th>
                        <th style="width:8%">Người tạo</th>
                        <th style="width:8%">IP</th>
                        <th style="width:8%">Hành động</th>
                        <th style="width:25%">Dữ liệu cũ</th>
                        <th style="width:25%">Dữ liệu mới</th>
                        <th style="width:5%">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="paging" class="px-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md">
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#SettingsCollapse').removeClass("collapsed");
        $('#settings').addClass("show");
        $('#LogLst').addClass("active");
    });
</script>

<script type="text/javascript">
    window.onload = filterReport(1);
    var lstOrder = [];
    function filterReport(page) {
        Onloading();
        var keyword = $('#keyword').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        if (startDate === '') {
            startDate = null;
        }
        if (endDate === '') {
            endDate = null;
        }
        var data = { "isPaged": true, "pageIndex": page, "pageSize": 50, "keyword": keyword, "startDate": startDate, "endDate": endDate };
        $.ajax({
            url: '@Url.Action("SearchLogSYS", "Report")',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                OnloadingSuccess();
                //Write table tbody
                var tbody = $("#myTable tbody")
                tbody.children().remove();
                var newBody = "";

                console.log(data.data);
                data.data.forEach((el) => {
                    var action = '';
                    newBody += '<tr>'
                        + '<td>' + formatDate(new Date(el.createTime)) + '</td>'
                        + '<td>' + el.createBy + '</td>'
                        + '<td>' + el.ipAddressUser + '</td>'
                        + '<td>' + el.actionName + '</td>'
                        + '<td>' + el.oldData + '</td>'
                        + '<td>' + el.newData + '</td>'
                        + '<td class="table-action" >' + action + '</td>'
                        + '</tr>';
                });
                tbody.append(newBody);

                console.log(data.pager);
                var paging = $("#paging .pagination")
                paging.children().remove();
                var pagingItem = "";
                if (data.pager.totalPages > 0) {
                    if (data.pager.currentPage > 1) {
                        pagingItem += '<li class="page-item" ><a class="page-link" onclick="filterReport(1)" >Trang đầu</a></li>'
                    };
                    for (var pge = data.pager.startPage; pge <= data.pager.endPage; pge++) {
                        if (pge == data.pager.currentPage)
                            pagingItem += '<li class="page-item active"><a class="page-link" onclick="filterReport(' + pge + ')" >' + pge + '</a></li>'
                        else
                            pagingItem += '<li class="page-item "><a class="page-link" onclick="filterReport(' + pge + ')" >' + pge + '</a></li>'
                    }
                    if (data.pager.currentPage < data.pager.totalPages) {
                        pagingItem += '<li class="page-item" ><a class="page-link" onclick="filterReport(' + data.pager.totalPages + ')" >Trang cuối</a></li>'
                    };
                }
                paging.append(pagingItem);
            },
            error: function (xhr) {
                OnloadingSuccess();
                console.log(xhr);
            }
        });
    };

    function exportReport() {
        Onloading();
        var keyword = $('#keyword').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        if (startDate === '') {
            startDate = null;
        }
        if (endDate === '') {
            endDate = null;
        }
        var data = { "isPaged": true, "pageIndex": 1, "pageSize": 50, "keyword": keyword, "startDate": startDate, "endDate": endDate };
        $.ajax({
            url: '@Url.Action("ExportLogSYS", "Report")',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            xhrFields: {
                responseType: 'blob'
            },
            success: function (data) {
                OnloadingSuccess();
                var a = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = 'nhat ki he thong.xlsx';
                document.body.append(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function formatCurrency(amount) {
        if (isNaN(amount)) {
            return "";
        }

        return amount.toFixed(0).replace(/\d(?=(\d{3})+$)/g, '$&,');
    }
</script>