
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="block-head">Hướng dẫn đặt mua sim</div>
</div>
<div class="sidebar">
    <div class="sidebar-item">

        <div class="entry-content">

            <div class="wp-container-2 wp-block-group">
                <div class="wp-block-group__inner-container">
                    <div class="wp-container-1 wp-block-group">
                        <div class="wp-block-group__inner-container">
                            <h3>
                                <span class="ez-toc-section" id="Buoc_1_DAT_SIM"></span>
                                <span style="color: #0000cd;">
                                    <strong>
                                        <u>Bước 1</u>
                                    </strong>
                                    <strong>:</strong>&nbsp; <strong>ĐẶT SIM</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <p>Quý khách chọn số sim và đặt hàng trên web hoặc&nbsp; <strong>gọi điện</strong>&nbsp;đến số hotline&nbsp; <strong>024.6666.6666</strong>&nbsp;để được hỗ trợ. </p>
                            <h3>
                                <span class="ez-toc-section" id="Buoc_2_XAC_NHAN"></span>
                                <span style="color: #0000cd;">
                                    <strong>
                                        <u>Bước 2</u>
                                    </strong>
                                    <strong>:</strong>&nbsp; <strong>XÁC NHẬN</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <p>Khi nhận được đơn hàng nhân viên bán&nbsp;hàng sẽ kiểm tra số trong kho và gọi điện lại báo cho Quý khách.</p>
                            <h3>
                                <span class="ez-toc-section" id="Buoc_3_GIAO_HANG"></span>
                                <span style="color: #0000cd;">
                                    <strong>
                                        <u>Bước 3</u>
                                    </strong>
                                    <strong>:</strong>&nbsp; <strong>GIAO HÀNG</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <ul>
                                <li>
                                    <strong style="color: revert; font-size: revert; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif;">Khách hàng ở&nbsp;Hà Nội, Hồ Chí Minh, Tuyên Quang, Hưng Yên, Hải Phòng</strong>
                                    <span style="color: revert; font-size: revert; font-weight: revert; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif;">:</span>
                                </li>
                            </ul>
                            <p>
                                <em>
                                    <strong>– Cách 1</strong>
                                </em>:&nbsp;Quý khách&nbsp;nhận sim trực tiếp tại cửa hàng
                            </p>
                            <p>
                                <em>
                                    <strong>– Cách 2</strong>
                                </em>: SimThangLong.vn sẽ giao sim miễn phí tận nhà
                            </p>
                            <ul>
                                <li>
                                    <strong style="color: revert; font-size: revert; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif;">Khách Hàng ở&nbsp;Tỉnh/ Tp khác:&nbsp; </strong>
                                </li>
                            </ul>
                            <p>
                                <em>
                                    <strong> – Cách 1</strong>
                                </em>:&nbsp;SimThangLong.vn sẽ giao sim miễn phí tận nhà
                            </p>
                            <p>
                                <em>
                                    <strong>– Cách 2</strong>
                                </em>: Quý khách chuyển tiền mua sim vào tài khoản ngân hàng của&nbsp; <strong>Sim Thăng Long</strong>&nbsp;sau đó ra điểm giao dịch của nhà mạng cấp lại sim sau khi&nbsp; <strong>SimThangLong.vn</strong>&nbsp;hoàn tất thủ tục vào tên, thông tin cần thiết sẽ do&nbsp; <strong>SimThangLong.vn</strong>&nbsp;cung cấp.&nbsp; <strong>Thông tin về tài khoản ngân hàng</strong>&nbsp;vui lòng xem phía dưới đây.
                            </p>
                            <h2>
                                <span class="ez-toc-section" id="2_Danh_sach_cua_hang_cua_Sim_Thang_Long"></span>
                                <strong>Danh sách cửa hàng của Sim Thăng Long</strong>
                                <span class="ez-toc-section-end"></span>
                            </h2>
                            <h3>
                                <span class="ez-toc-section" id="1_Ha_Noi"></span>
                                <span style="color: #0000cd;">
                                    <strong>1. Hà Nội</strong>:
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <ul>
                                <li>107B Tôn Đức Thắng, Đống Đa, Hà Nội</li>
                            </ul>
                            <h3>
                                <span class="ez-toc-section" id="2_Ho_Chi_Minh"></span>
                                <span style="color: #0000cd;">
                                    <strong>2.&nbsp;Hồ Chí Minh</strong>:
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <ul>
                                <li>730 Lũy Bán Bích , Phường Tân Thành , Quận Tân phú.</li>
                            </ul>
                            <h3>
                                <span class="ez-toc-section" id="3_Tuyen_Quang"></span>
                                <span style="color: #0000cd;">
                                    <strong>3. Tuyên Quang</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <ul>
                                <li>Số 257 Quang Trung, Phường Phan Thiết , TP Tuyên Quang.</li>
                            </ul>
                            <h3>
                                <span class="ez-toc-section" id="4_Hung_Yen"></span>
                                <span style="color: #0000cd;">
                                    <strong>4. Hưng Yên</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <ul>
                                <li>Số 71 Thủy Nguyên, KĐT Ecopark, huyện Văn Giang, tỉnh Hưng Yên.</li>
                            </ul>
                            <h3>
                                <span class="ez-toc-section" id="5_Hai_Phong"></span>
                                <span style="color: #0000cd;">
                                    <strong>5. Hải Phòng</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <ul>
                                <li>Số 124 ngã tư Quán Toan, Hồng Bàng, Hải Phòng</li>
                            </ul>
                            <p>
                                <em>
                                    <strong>
                                        <u>*Lưu ý:</u>
                                    </strong>
                                </em>
                            </p>
                            <ul>
                                <li>Khách hàng cần chuẩn bị trước thông tin cá nhân (trên CMND) để được vào tên chính chủ sở hữu sim.</li>
                            </ul>
                            <h2>
                                <span class="ez-toc-section" id="3_Thong_tin_thanh_toan"></span>
                                <strong>Thông tin thanh toán</strong>
                                <span class="ez-toc-section-end"></span>
                            </h2>
                            <p>
                                <strong>Sim Thăng Long sẽ không chịu trách nhiệm nếu Quý khách gửi tiền mua sim vào số tài khoản không nằm trong danh sách dưới đây:&nbsp;</strong>
                            </p>
                            <h3>
                                <span class="ez-toc-section" id="1_CA_NHAN_THANH_TOAN"></span>
                                <span style="color: #0000cd;">
                                    <strong>1. CÁ NHÂN THANH TOÁN</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <p>
                                <em>
                                    <strong>
                                        <span style="color: #ff0000;">*Lưu ý</span>: Quý khách lưu ý khi thanh toán vui lòng ghi rõ nội dung: <span style="color: #ff0000;">Họ Tên – Số Sim Mua</span>
                                    </strong>
                                </em>
                            </p>
                            <p>
                                <em>
                                    <strong>VD: Nguyễn Thu Hà – 0918166866</strong>
                                </em>
                            </p>
                            <h3>
                                <span class="ez-toc-section" id="2_DAI_LY_THANH_TOAN"></span>
                                <span style="color: #0000cd;">
                                    <strong>2. ĐẠI LÝ THANH TOÁN</strong>
                                </span>
                                <span class="ez-toc-section-end"></span>
                            </h3>
                            <p>
                                <strong>
                                    <em>
                                        <span style="color: #ff0000;">*Lưu ý</span>: Quý đại lý lưu ý khi thanh toán ghi rõ nội dung: <span style="color: #ff0000;">Tên đại lý – Thanh toán công nợ tháng N</span>
                                    </em>
                                </strong>
                            </p>
                            <p>
                                <strong>
                                    <em>VD: “Đại lý Trịnh Mậu Thìn thanh toán công nợ tháng 5”</em>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- End sidebar search formn-->
</div>

<script>
    window.onload = function () {
        var itemNav = document.getElementById("thanh-toan");
        itemNav.classList.add("active");
    };
</script>